<div class="w-carcase full-wh {{data.small}}">
    <div class="w-carcase-left">
        <div class="w-carcase-logo">
            <a href="#">
                <div class="w-carcase-logo-image"></div>
                <div class="w-carcase-logo-crm">CRM - система</div>
                <div class="w-carcase-logo-pro">Простой Бизнес</div>
            </a>
        </div>
        <div class="w-carcase-navigate">
            <div class="w-carcase-navigate-button" title="{{text.interface.navigate.main}}">
                <div class="w-carcase-navigate-icon icon-Главная-страница" id="home">
                    <span class="path1"></span>
                    <span class="path2"></span>
                    <span class="path3"></span>
                    <span class="path4"></span>
                </div>
                <div class="w-carcase-navigate-text">{{text.interface.navigate.main}}</div>
            </div>
            <div class="w-carcase-navigate-button --org" title="{{text.interface.navigate.info}}">
                <div class="w-carcase-navigate-icon icon-Организации" id="info"></div>
                <div class="w-carcase-navigate-text">{{text.interface.navigate.info}}</div>
            </div>
            <div class="w-carcase-navigate-button --my" title="{{text.interface.navigate.profile}}">
                <div class="w-carcase-navigate-icon icon-Анкета" id="profile"></div>
                <div class="w-carcase-navigate-text">{{text.interface.navigate.profile}}</div>
            </div>
            <div class="w-carcase-navigate-button --org" title="{{text.interface.navigate.users}}">
                <div class="w-carcase-navigate-icon icon-Пользователи" id="users"></div>
                <div class="w-carcase-navigate-text">{{text.interface.navigate.users}}</div>
            </div>
            <div class="w-carcase-navigate-button --my" title="{{text.interface.navigate.friends}}">
                <div class="w-carcase-navigate-icon icon-Друзья" id="friends"></div>
                <div class="w-carcase-navigate-text">{{text.interface.navigate.friends}}</div>
            </div>
            <div class="w-carcase-navigate-button" title="{{text.interface.navigate.projects}}">
                <div class="w-carcase-navigate-icon icon-Проекты" id="projects"></div>
                <div class="w-carcase-navigate-text">{{text.interface.navigate.projects}}</div>
            </div>
            <div class="w-carcase-navigate-button" title="{{text.interface.navigate.contacts}}">
                <div class="w-carcase-navigate-icon icon-Контакты" id="contacts"></div>
                <div class="w-carcase-navigate-text">{{text.interface.navigate.contacts}}</div>
            </div>
            <div class="w-carcase-navigate-button" title="{{text.interface.navigate.calendar}}">
                <div class="w-carcase-navigate-icon icon-Календарь" id="calendar"></div>
                <div class="w-carcase-navigate-text">{{text.interface.navigate.calendar}}</div>
            </div>
            <div class="w-carcase-navigate-button" title="{{text.interface.navigate.crm}}">
                <div class="w-carcase-navigate-icon icon-Таблицы" id="crm"></div>
                <div class="w-carcase-navigate-text">{{text.interface.navigate.crm}}</div>
            </div>
            <div class="w-carcase-navigate-button" title="{{text.interface.navigate.video}}">
                <div class="w-carcase-navigate-icon  icon-Видеоконференции" id="video"></div>
                <div class="w-carcase-navigate-text">{{text.interface.navigate.video}}</div>
            </div>
            <div class="w-carcase-navigate-button" title="{{text.interface.navigate.files}}">
                <div class="w-carcase-navigate-icon  icon-Файлы4" id="files"></div>
                <div class="w-carcase-navigate-text">{{text.interface.navigate.files}}</div>
            </div>
        </div>
    </div>
    <div class="w-carcase-center">
        <div class="w-carcase-header">
            <div class="w-carcase-resize"></div>
            <div class="w-carcase-company"></div>
            <div class="w-carcase-personal"></div>
            <div class="w-carcase-search"></div>
            <div class="w-carcase-fast">
                <div class="w-carcase-menu-button" title="{{text.interface.menu.goto}}">
                    <div class="w-carcase-menu-icon icon-Открыть-проект" id="goto"></div>
                    <div class="w-carcase-menu-text">{{text.interface.menu.goto}}</div>
                </div>
                <div class="w-carcase-menu-button" title="{{text.interface.menu.telephony}}">
                    <div class="w-carcase-menu-icon icon-Телефония" id="telephony"></div>
                    <div class="w-carcase-menu-text">{{text.interface.menu.telephony}}</div>
                </div>
                <div class="w-carcase-menu-button" title="{{text.interface.menu.notification}}">
                    <div class="w-carcase-menu-icon icon-Оповещения" id="notification"></div>
                    <div class="w-carcase-menu-text">{{text.interface.menu.notification}}</div>
                </div>
                <div class="w-carcase-menu-button" title="{{text.interface.menu.sms}}">
                    <div class="w-carcase-menu-icon icon-SMS" id="sms"></div>
                    <div class="w-carcase-menu-text">{{text.interface.menu.sms}}</div>
                </div>
                <div class="w-carcase-menu-button" title="{{text.interface.menu.chat}}">
                    <div class="w-carcase-menu-icon icon-Чат" id="chat"></div>
                    <div class="w-carcase-menu-text">{{text.interface.menu.chat}}</div>
                </div>
                <div class="w-carcase-menu-button" title="{{text.interface.menu.notes}}">
                    <div class="w-carcase-menu-icon icon-Чаты" id="notes"></div>
                    <div class="w-carcase-menu-text">{{text.interface.menu.notes}}</div>
                </div>
                {{#data.sizes}}
                <div class="w-carcase-menu-button sizes">
                    {{{data.sizes}}}
                </div>
                {{/data.sizes}}
            </div>
        </div>
        <div class="w-carcase-content" id="webscene"></div>
        <div class="w-carcase-footer"></div>
    </div>
</div>
<div id="notification-container"></div>
<div id="trash"></div>