<div class="loadscreen">
    <div class="loadscreen-cube-grid">
        <div class="loadscreen-cube loadscreen-cube1"></div>
        <div class="loadscreen-cube loadscreen-cube2"></div>
        <div class="loadscreen-cube loadscreen-cube3"></div>
        <div class="loadscreen-cube loadscreen-cube4"></div>
        <div class="loadscreen-cube loadscreen-cube5"></div>
        <div class="loadscreen-cube loadscreen-cube6"></div>
        <div class="loadscreen-cube loadscreen-cube7"></div>
        <div class="loadscreen-cube loadscreen-cube8"></div>
        <div class="loadscreen-cube loadscreen-cube9"></div>
    </div>
    <div class="loadscreen-text"></div>
    <div class="loadscreen-additional"></div>
</div>