<div id="{{data.id}}" class="comment --simple">
    <div class="comment-body"
         {{#data.category}} {{#data.category.full}}
         style="background-color: {{data.category.color}}"
         {{
    /data.category.full}}{{/data.category}}
    >
    <div class="header">
        <div class="avatar {{data.is_email}}" style="background-image: url({{data.avatar_url}})"></div>
        <div class="wrap-nds">
            <div class="wrap-name-status">
                <div class="name" title="{{data.name}}">{{data.name}}
                    <div class="date">{{data.date}}</div>
                </div>
                <div class="status" title="{{data.status}}">{{{data.status}}}</div>
            </div>
        </div>
    </div>
    {{#data.content}}
    <div class="content">
        {{#text}}
        <div class="text">
            {{{text}}}
        </div>
        {{/text}}
        <div class="files --webgallery">
            {{#files}}
            <div class="attach-block">
                {{^preview}}
                <span class="icon-Файл"></span>
                {{/preview}}
                <a href="{{link}}" class="{{type.type}} attach --webfile"
                   target="_blank" title="{{name}} {{humanize_size}}">
                    {{#preview}}
                    <div style="background-image: url({{link}})" class="preview"></div>
                    {{/preview}}
                    {{^preview}}
                    {{name}}
                    {{/preview}}
                </a>
            </div>
            {{/files}}
        </div>
    </div>
    {{/data.content}}
    <div class="likes categories">{{#data.category}}
        {{^data.category.full}}
        <div class="flag" style="background-color: {{data.category.color}}"></div>
        <div class="category">{{data.category.title}}</div>
        {{/data.category.full}}
        {{/data.category}}{{^data.hide_like}}
        <div class="like" title="{{data.likes.like_title}}" rel="{{data.likes.like_ids}}">
            <span class="icon-Нравится"></span>
            {{data.likes.like}}
        </div>
        <div class="dislike" title="{{data.likes.dislike_title}}" rel="{{data.likes.dislike_ids}}">
            <span class=" icon-Не-нравится"></span>
            {{data.likes.dislike}}
        </div>
        {{/data.hide_like}}
    </div>
</div>
<div class="comment-buttons">
    {{#data.is_email}}
    <div class="button" id="resend"><span class="icon-Переслать"></span>{{text.comment.button.resend}}</div>
    {{/data.is_email}}
    <div class="button" id="copy"><span class="icon-Копировать"></span>{{text.comment.button.copy}}</div>
    <div class="button" id="copy_link"><span class="icon-Скопировать-ссылку"></span>{{text.comment.button.copy_link}}
    </div>
    <div class="button" id="quote"><span class="icon-Цитировать"></span>{{text.comment.button.quote}}</div>
    <div class="button" id="category"><span class="icon-Категория"></span>{{text.comment.button.category}}</div>
    <div class="button" id="favorite"><span class="rel icon-Избранное" rel="{{data.is_favorite}}"></span>{{text.comment.button.favorite}}
    </div>
    <!--<div class="button" id="job_open"><span class="icon-Новое-дело"></span>{{text.comment.button.job}}</div>-->
    <div class="button" id="move"><span class="icon-Перенести"></span>{{text.comment.button.move}}</div>
</div>
</div>