<div class="list --comments full-wh">
    <div class="top">
        <div class="names" title="{{data.name}}">
            <div class="name">
                <span class="icon-Задача"></span>
                {{data.name}}
            </div>
            <div class="author" title="{{data.author}}">
                <span class="icon-Обычный-пользователь"></span>
                <span class="author_name">{{data.author}}</span>
            </div>
        </div>
        <div class="category"></div>
        <div class="search">
        </div>
    </div>
    <div class="loading">{{text.comment.loading}}</div>
    <div class="list-wrap">
        <div class="bottom --delegate"></div>
        <div class="find-result --delegate"></div>
    </div>
    <div class="list-form">
        <div class="title-form">{{text.comment.commenting}}</div>
    </div>
</div>