<div class="tform-image {{data.hidden}} {{#data.multi}}multiple{{/data.multi}}" id="{{data.id}}">
    <div class="tform-top">
        {{#data.elements}}
        <div class="tform-element">
            <div class="tform-left">
                <div class="tform-title">{{data.title}}</div>
            </div>
            <div class="tform-right">
                {{#data.access}}
                <input type="text" class="tform-image-value" value="{{title}}" readonly="readonly">
                <div class="tform-image-delete" title="Удалить изображение">&times;</div>
                <span class="tform-image-download icon-Скачать"></span>
                <div class="tform-image-add" title="Выбрать изображение">
                    <span class="icon-Выбрать-файл"></span>
                    <input type="file" id="upload_{{data.id}}" accept="image/x-png,image/gif,image/jpeg">
                </div>
                {{/data.access}}
                <input type="hidden" class="tform-image-full" value="{{full}}">
            </div>
            {{#data.multi}}
            <div class="tform-delete"></div>
            {{/data.multi}}
        </div>
        {{/data.elements}}
    </div>
    {{#data.multi}}
    <div class="tform-bot">
        <div class="tform-title-multi">+ {{data.title}}</div>
    </div>
    {{/data.multi}}
</div>