<div id="authorization" class="full-wh">
    <div class="auth-form">
        <form action="javascript:void(0);">
            <div class="auth-logo">{{text.auth.crm}}</div>
            <div class="auth-inp-div" id="for_login">
                <input id="login" class="auth-inp" placeholder="{{text.auth.enter_login}}">
            </div>
            <div class="auth-inp-div" id="for_password">
                <input id="password" class="auth-inp" placeholder="{{text.auth.enter_password}}" type="password">
            </div>
            <div class="auth-inp-div" id="for_enter">
                <a id="lost_password" class="auth-link">{{text.auth.remember_password}}</a>
                <input id="enter" class="auth-button" value="{{text.auth.sign_in}}" type="submit">
            </div>
        </form>
    </div>
    <div class="auth-wellcome">
        <div class="auth-wellcome-title"></div>
        <div class="auth-wellcome-avatar"></div>
        <div class="auth-wellcome-name"></div>
    </div>
</div>