@import "../../../_variables";
#chat_right {
  transition: all 0.5s;
  width: 200px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;

  .chat-header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 70px;
    background: linear-gradient(to left, #5cadd6, #297aa3) left bottom #3399cc no-repeat;
    background-size: 1px 100%;
  }

  .chat-users {
    border-left: 1px solid $border-and-add-text-bg-color;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 70px;
    overflow-y: auto;
    overflow-x: hidden;

    .chat-user-caption {
      line-height: 30px;
      text-align: center;
      background-color: #f0f0f0;
      border-bottom: 1px solid $border-and-add-text-bg-color;
    }

    .chat-user {
      height: 50px;
      position: relative;
      overflow: hidden;
      background-color: #f0f0f0;
      border-right: 1px solid $border-and-add-text-bg-color;
      cursor: pointer;

      &.selected {
        background-color: $main-bg-text-color;
        color: $text-for-main-bg-text-color;
      }
      &:hover {
        background-color: $main-bg-text-color-hover;
        color: $text-for-main-bg-text-color;
        .chat-user-unread {
          color: #333333;
        }
      }
      &:not(:last-child) {
        border-bottom: 1px solid $border-and-add-text-bg-color;
      }

      &-status {
        position: absolute;
        left: 0;
        width: 10px;
        height: 50px;

        &.online {
          background-color: #4cb648;
        }
        &.offline {
          background-color: red;
        }
      }
      &-avatar {
        position: absolute;
        left: 15px;
        background-size: cover;
        background-position: center;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        top: 5px;
      }
      &-name {
        position: absolute;
        left: 60px;
        height: 50px;
        line-height: 50px;
        overflow: hidden;
        white-space: nowrap;
        right: 5px;
        text-overflow: ellipsis;
      }
      &-unread {
        position: absolute;
        right: 0;
        top: 0;
        width: 15px;
        height: 15px;
        line-height: 15px;
        font-size: 11px;
        text-align: center;
        border-left: 1px solid #c2c2c2;
        border-bottom: 1px solid #c2c2c2;
        border-bottom-left-radius: 3px;
        background-color: #f0f0f0;
      }

      &.blink {
        background: linear-gradient(270deg, #fd6400, #ffffff);
        background-size: 400% 400%;

        animation: pulse 4s ease infinite;

        @keyframes pulse {
          0% {
            background-position: 0% 50%
          }
          50% {
            background-position: 100% 50%
          }
          100% {
            background-position: 0% 50%
          }
        }
      }
    }
  }
  .chats {
    position: absolute;
    top: 71px;
    bottom: 0;
    right: 200px;
    width: 400px;
    background: linear-gradient(to right, #5cadd6, #297aa3) left top #3399cc no-repeat;
    background-size: 1px 100%;
    z-index: 1;

    .chat-item {
      position: absolute;
      right: 5px;
      left: 5px;
      top: 5px;
      bottom: 5px;
      border-radius: $border-radius;
      border: 1px solid $border-and-add-text-bg-color;
      background-color: #f0f0f0;

      &-header {
        position: absolute;
        left: 5px;
        top: 5px;
        right: 5px;
        height: 55px;
        line-height: 55px;
        border-bottom: 1px solid #c2c2c2;

        &-avatar {
          position: absolute;
          left: 0;
          width: 50px;
          height: 50px;
          top: 0;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
        &-name {
          position: absolute;
          left: 60px;
          right: 25px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        &-close {
          position: absolute;
          right: 5px;
          width: 20px;
          cursor: pointer;
          text-align: center;
        }
      }
      &-footer {
        position: absolute;
        bottom: 5px;
        height: 100px;
        left: 5px;
        right: 5px;

        &-buttons {
          position: absolute;
          left: 0;
          right: 0;
          top: 70px;
          bottom: 0;

          .elm-button {
            right: 0;
            position: absolute;
          }
        }

        textarea {
          padding: 8px;
          z-index: 1;
          box-sizing: border-box;
          border: 1px solid #c2c2c2;
          resize: none;
          width: 100%;
          height: 65px;
        }
      }
      &-text {
        position: absolute;
        left: 5px;
        right: 5px;
        bottom: 130px;
        border-bottom: 1px solid #c2c2c2;
        top: 65px;
        overflow-x: hidden;
        overflow-y: auto;
        padding-bottom: 20px;
      }
      &-typing {
        position: absolute;
        left: 0;
        right: 0;
        line-height: 20px;
        bottom: 110px;
        font-size: 11px;
        text-align: center;
      }
    }
  }
  .chat-message-item {
    display: block;
    width: 80%;
    border: 1px solid #c2c2c2;
    border-radius: $border-radius;
    padding: 5px;
    margin-bottom: 5px;

    &.out {
      background-color: #fff;
      margin-left: 20%;
      &.unread {
        background-color: #f0f0f0;
      }
    }
    &.in {
      background-color: $main-bg-text-color;
      color: $text-for-main-bg-text-color;
      margin-right: 20%;
    }

    &-text {
      white-space: pre-wrap;
      word-wrap: break-word;
    }
    &-time {
      font-size: 11px;
      text-align: right;
    }
  }
}