$icomoon-font-path: "fonts" !default;

$icon-mnog_p: "\e938";
$icon-comment_incoming: "\e921";
$icon-orgblock_personal_org: "\e922";
$icon-orgblock_private_org: "\e923";
$icon-orgblock_prof_org: "\e924";
$icon-orgblock_standart_org: "\e925";
$icon-userblock_female: "\e926";
$icon-userblock_male: "\e927";
$icon-userblock_unknown: "\e928";
$icon-arrow_down: "\e929";
$icon-arrow_up: "\e92a";
$icon-Видимость: "\e92b";
$icon-obyaz_p-01: "\e92c";
$icon-Аудиозапись: "\e931";
$icon-Вернуть-последний-удаленный-комментарий: "\e932";
$icon-ВК: "\e933";
$icon-Включить-динамик: "\e934";
$icon-Входящий: "\e935";
$icon-Выбрать-номер-из-телефонной-книги: "\e936";
$icon-Главное-меню: "\e937";
$icon-Группа-контактов: "\e93b";
$icon-Добавить-запись-в-таблицу-по-входящему-звонку: "\e93c";
$icon-Добавить-собеседника: "\e93d";
$icon-Задача-с-вложением: "\e93e";
$icon-Заметки-к-делу: "\e93f";
$icon-История3: "\e940";
$icon-Исходящий: "\e941";
$icon-Место-выполнения-дела: "\e942";
$icon-Набрать-номер-на-клавиатуре---клавиши: "\e943";
$icon-Назад: "\e944";
$icon-Настройка-телефонии: "\e945";
$icon-шлюзов: "\e945";
$icon-Отключить-микрофон: "\e946";
$icon-Отложить-дело: "\e947";
$icon-Отобразить-дерево: "\e948";
$icon-Очистить-ленту3: "\e949";
$icon-Переадресовать-звонок: "\e94a";
$icon-Перейти-к-анкете-пользователя-path1: "\e94b";
$icon-Перейти-к-анкете-пользователя-path2: "\e94c";
$icon-Перейти-к-анкете-пользователя-path3: "\e94d";
$icon-Перейти-к-анкете-пользователя-path4: "\e94e";
$icon-Перейти-к-анкете-пользователя-path5: "\e94f";
$icon-Перейти-к-анкете-пользователя-path6: "\e950";
$icon-Перейти-к-анкете-пользователя-path7: "\e951";
$icon-Пропущенный: "\e952";
$icon-Свернуть-окно-телефонии: "\e953";
$icon-Создать-новое-SMS--сообщение: "\e954";
$icon-Сортировка-в-хронологич: "\e955";
$icon-Сортировка-по-задачам: "\e956";
$icon-Спасательный-круг: "\e957";
$icon-Список: "\e958";
$icon-Список-пользователей-для-фильтрации: "\e959";
$icon-Список-проектов-для-фильтрации-path1: "\e95a";
$icon-Список-проектов-для-фильтрации-path2: "\e95b";
$icon-Список-проектов-для-фильтрации-path3: "\e95c";
$icon-Удерживать-звонок-на-линии---пауза: "\e95d";
$icon-Фейсбук: "\e95e";
$icon-Фото-с-камеры: "\e95f";
$icon-Бонус: "\e960";
$icon-Информация2: "\e961";
$icon-Статистика2: "\e962";
$icon-Чат4: "\e963";
$icon-SMS-сообщения2: "\e964";
$icon-SMS-шлюз-с-симкартой: "\e965";
$icon-SMS-шлюзы: "\e966";
$icon-SMS-сообщения-дополнительно: "\e967";
$icon-База-клиентов: "\e968";
$icon-Бухгалтерия: "\e969";
$icon-Видео-уроки: "\e96a";
$icon-входящее-письмо: "\e96b";
$icon-Дисковое-пространство: "\e96c";
$icon-Добавить-клиента: "\e96d";
$icon-Добавить-услугу: "\e96e";
$icon-Закрыть16: "\e96f";
$icon-Исходящее-письмо: "\e970";
$icon-Личный-счет: "\e971";
$icon-Напоминание: "\e972";
$icon-Обычная-организация: "\e973";
$icon-Обычный-пользователь: "\e974";
$icon-Передать: "\e975";
$icon-Пользователи3: "\e976";
$icon-Пополнить: "\e977";
$icon-Пополнить_1: "\e978";
$icon-Почтовые-шлюзы3-path1: "\e979";
$icon-Почтовые-шлюзы3-path2: "\e97a";
$icon-Почтовые-шлюзы3-path3: "\e97b";
$icon-Почтовые-шлюзы3-path4: "\e97c";
$icon-Почтовые-шлюзы3-path5: "\e97d";
$icon-Почтовые-шлюзы3-path6: "\e97e";
$icon-Почтовые-шлюзы3-path7: "\e97f";
$icon-Продление: "\e980";
$icon-Продлить-профи: "\e981";
$icon-Продлить-услугу: "\e982";
$icon-Профи: "\e983";
$icon-Сайт2: "\e984";
$icon-Сдача-отчетности2: "\e985";
$icon-Счет-организации: "\e986";
$icon-Тарифы: "\e987";
$icon-Телефония: "\e988";
$icon-Телефонные-шлюзы: "\e989";
$icon-Техподдержка: "\e98a";
$icon-Универсальные-таблицы: "\e98b";
$icon-Участники-видеоконферен: "\e98c";
$icon-Всего-проведено-видеоконференций: "\e98d";
$icon-Закрыть15: "\e98e";
$icon-Копировать-ссылку3: "\e98f";
$icon-Личные3: "\e990";
$icon-Начать-конференцию: "\e991";
$icon-Отправить-по-Email: "\e992";
$icon-Пригласить-участника: "\e993";
$icon-Продолжительность: "\e994";
$icon-Создать5: "\e995";
$icon-Участников: "\e996";
$icon-Восстановить: "\e997";
$icon-Все-объекты: "\e998";
$icon-Задачи-и-комментарии: "\e999";
$icon-Контакты5: "\e99a";
$icon-Организации2: "\e99b";
$icon-Проекты4: "\e99c";
$icon-Сайты: "\e99d";
$icon-Таблицы3: "\e99e";
$icon-Баланс-общий-по-организациям: "\e99f";
$icon-Баланс-пользователя: "\e9a0";
$icon-Выход: "\e9a1";
$icon-Добавить-заметку: "\e9a2";
$icon-Избранное2: "\e9a3";
$icon-Настройки3: "\e9a4";
$icon-Отправить-SMS: "\e9a5";
$icon-Партнерская-программа2: "\e9a6";
$icon-Портфель-проектов: "\e9a7";
$icon-Проверить-обновления2: "\e9a8";
$icon-Справка: "\e9a9";
$icon-E-mail: "\e9aa";
$icon-SMS-сообщения: "\e9ab";
$icon-Видеоконференции2: "\e9ac";
$icon-Главная-страница-path1: "\e9ad";
$icon-Главная-страница-path2: "\e9ae";
$icon-Главная-страница-path3: "\e9af";
$icon-Главная-страница-path4: "\e9b0";
$icon-Избранное: "\e9b1";
$icon-Календарь2: "\e9b2";
$icon-Контакты4: "\e9b3";
$icon-настройки: "\e9b4";
$icon-Новости3: "\e9b5";
$icon-Оповещения2: "\e9b6";
$icon-Организация2: "\e9b7";
$icon-Персонал: "\e9b8";
$icon-Позвонить: "\e9b9";
$icon-Поиск8: "\e9ba";
$icon-Проекты3: "\e9bb";
$icon-Сдача-отчетности: "\e9bc";
$icon-Создать-организацию: "\e9bd";
$icon-Таблицы2: "\e9be";
$icon-Телефония-и-смс2-path1: "\e9bf";
$icon-Телефония-и-смс2-path2: "\e9c0";
$icon-Телефония-и-смс2-path3: "\e9c1";
$icon-Файлы4: "\e9c2";
$icon-Чат3: "\e9c3";
$icon-Чаты2: "\e9c4";
$icon-Важное-дело: "\e9c5";
$icon-Время: "\e9c6";
$icon-Выполненное-дело: "\e9c7";
$icon-Дата: "\e9c8";
$icon-Дело-еще-не-просрочено: "\e9c9";
$icon-Календарь-дел: "\e9ca";
$icon-Ответственный2: "\e9cb";
$icon-Плавающее-дело: "\e9cc";
$icon-Просроченное-дело: "\e9cd";
$icon-Создать-дело: "\e9ce";
$icon-Аноним: "\e9cf";
$icon-Друзья2: "\e9d0";
$icon-Женщина: "\e9d1";
$icon-Мужчина: "\e9d2";
$icon-Поиск7: "\e9d3";
$icon-База-знаний2: "\e9d4";
$icon-В-избранное3: "\e9d5";
$icon-Вложить-изображение-из-буфера-обмена2: "\e9d6";
$icon-Дело-выполнено: "\e9d7";
$icon-Дело-отменено: "\e9d8";
$icon-Добавить-файлы3: "\e9d9";
$icon-Документы: "\e9da";
$icon-Доступ2: "\e9db";
$icon-Завершена: "\e9dc";
$icon-Закрыть14: "\e9dd";
$icon-Заменить-файл2: "\e9de";
$icon-Избранные-комментарии: "\e9df";
$icon-Источник-RSS: "\e9e0";
$icon-Картинка3: "\e9e1";
$icon-Категория2: "\e9e2";
$icon-Комментарий-преобразован-в-дело: "\e9e3";
$icon-Копировать-ссылку2: "\e9e4";
$icon-Копировать3: "\e9e5";
$icon-Личные2: "\e9e6";
$icon-Назначена: "\e9e7";
$icon-Назначена_2: "\e9e8";
$icon-Назначить3: "\e9e9";
$icon-Не-нравится2: "\e9ea";
$icon-Нравится2: "\e9eb";
$icon-Отклик3: "\e9ec";
$icon-Отложена: "\e9ed";
$icon-Отменена: "\e9ee";
$icon-Отправить4: "\e9ef";
$icon-Отработана: "\e9f0";
$icon-Переместить6: "\e9f1";
$icon-Подтверждена: "\e9f2";
$icon-Подтверждена_2: "\e9f3";
$icon-Просмотреть2: "\e9f4";
$icon-Свойства-задачи: "\e9f5";
$icon-Свойства-файла3: "\e9f6";
$icon-Сохранить7: "\e9f7";
$icon-Статус-задачи2: "\e9f8";
$icon-Таблица: "\e9f9";
$icon-Удалить9: "\e9fa";
$icon-Цитировать: "\e9fb";
$icon-Microsoft-Word: "\e9fc";
$icon-Добавить2: "\e9fd";
$icon-Документ2: "\e9fe";
$icon-Задачи3: "\e9ff";
$icon-Комментировать4: "\ea00";
$icon-Контакты3: "\ea01";
$icon-Личные-проекты-друзей: "\ea02";
$icon-Проекты2: "\ea03";
$icon-Таблицы: "\ea04";
$icon-Файлы3: "\ea05";
$icon-История2: "\ea06";
$icon-Обновить3: "\ea07";
$icon-Вид3: "\ea08";
$icon-Переместить5: "\ea09";
$icon-Поиск6: "\ea0a";
$icon-Создать4: "\ea0b";
$icon-Удалить8: "\ea0c";
$icon-Не-нравится: "\ea0d";
$icon-Нравится: "\ea0e";
$icon-Очистить-ленту2-path1: "\ea0f";
$icon-Очистить-ленту2-path2: "\ea10";
$icon-Очистить-ленту_2: "\ea11";
$icon-Очистить-ленту_3: "\ea12";
$icon-Очистить-ленту_4: "\ea13";
$icon-Очистить-ленту_5: "\ea14";
$icon-Скрыть: "\ea15";
$icon-Информация: "\ea16";
$icon-Партнерская-программа: "\ea17";
$icon-Сохранить6: "\ea18";
$icon-Статистика: "\ea19";
$icon-Анкета2: "\ea1a";
$icon-Видеоконференции: "\ea1b";
$icon-Друзья: "\ea1c";
$icon-История: "\ea1d";
$icon-Календарь: "\ea1e";
$icon-Контакты2: "\ea1f";
$icon-Новости2: "\ea20";
$icon-Почта2: "\ea21";
$icon-Проекты: "\ea22";
$icon-Телефония-и-смс: "\ea23";
$icon-Файлы2: "\ea24";
$icon-Чаты: "\ea25";
$icon-Восстановить-даные: "\ea26";
$icon-Закрыть13: "\ea27";
$icon-Изменить-пароль: "\ea28";
$icon-Очистить-хранилище: "\ea29";
$icon-Пароль: "\ea2a";
$icon-Скачать-агент: "\ea2b";
$icon-Сохранить5: "\ea2c";
$icon-База-знаний: "\ea2d";
$icon-В-избранное2: "\ea2e";
$icon-Вид2: "\ea2f";
$icon-Вложить-изображение-из-буфера-обмена: "\ea30";
$icon-Вразброс: "\ea31";
$icon-Добавить-файлы2: "\ea32";
$icon-Закрыть12: "\ea33";
$icon-Заменить-файл: "\ea34";
$icon-Изменена-категория: "\ea35";
$icon-Картинка2: "\ea36";
$icon-Категория: "\ea37";
$icon-Комментировать3: "\ea38";
$icon-Копировать2: "\ea39";
$icon-Назначить2: "\ea3a";
$icon-Настройки2: "\ea3b";
$icon-Новое-дело: "\ea3c";
$icon-Оповещение: "\ea3d";
$icon-Отклик2: "\ea3e";
$icon-Отмена3: "\ea3f";
$icon-Отправить3: "\ea40";
$icon-Очистить-ленту: "\ea41";
$icon-Перенести: "\ea42";
$icon-По-задаче: "\ea43";
$icon-Почта: "\ea44";
$icon-Предыдущие-обновления: "\ea45";
$icon-Проверить-обновления: "\ea46";
$icon-Просмотреть: "\ea47";
$icon-Свойства-файла2: "\ea48";
$icon-Статус-задачи: "\ea49";
$icon-Файл: "\ea4a";
$icon-Добавить-документ: "\ea4b";
$icon-Добавить-запись: "\ea4c";
$icon-Закрыть11: "\ea4d";
$icon-Итого: "\ea4e";
$icon-Просмотр-документа: "\ea4f";
$icon-Скачать: "\ea50";
$icon-Скопировать-ссылку: "\ea51";
$icon-Сохранить4: "\ea52";
$icon-Удалить-запись: "\ea53";
$icon-Удалить7: "\ea54";
$icon-Экспорт: "\ea55";
$icon-Экспортировать: "\ea56";
$icon-Закрыть10: "\ea57";
$icon-Контакты-для-смс: "\ea58";
$icon-Личные: "\ea59";
$icon-Отменить5: "\ea5a";
$icon-Отправитель: "\ea5b";
$icon-Отправить-со-счета: "\ea5c";
$icon-Отправить2: "\ea5d";
$icon-Задачи2: "\ea5e";
$icon-Контакты: "\ea5f";
$icon-Пользователи2: "\ea60";
$icon-Расширенный-поиск: "\ea61";
$icon-Завершить2: "\ea62";
$icon-Начать: "\ea63";
$icon-Отменить4: "\ea64";
$icon-Печать: "\ea65";
$icon-Важное: "\ea66";
$icon-Задача: "\ea67";
$icon-Закрыть9: "\ea68";
$icon-Личное: "\ea69";
$icon-Организация_1: "\ea6a";
$icon-Организация_2: "\ea6b";
$icon-Перейти-к-задаче: "\ea6c";
$icon-Перейти-к-записи: "\ea6d";
$icon-Проект2: "\ea6e";
$icon-Сохранить3: "\ea6f";
$icon-Срочное: "\ea70";
$icon-Добавить-файл: "\ea71";
$icon-Достаточно-сложная: "\ea72";
$icon-Легкая-задача: "\ea73";
$icon-Название2: "\ea74";
$icon-Начало: "\ea75";
$icon-Не-определена: "\ea76";
$icon-Ответственный: "\ea77";
$icon-Отмена2: "\ea78";
$icon-Очень-сложная: "\ea79";
$icon-Прибыль: "\ea7a";
$icon-Сложная-задача: "\ea7b";
$icon-Создать3: "\ea7c";
$icon-Средняя-задача: "\ea7d";
$icon-Срок: "\ea7e";
$icon-Название: "\ea7f";
$icon-Описание: "\ea80";
$icon-Отмена: "\ea81";
$icon-Создать2: "\ea82";
$icon-Закрыть8: "\ea83";
$icon-К-задаче: "\ea84";
$icon-Картинка: "\ea85";
$icon-Комментировать2: "\ea86";
$icon-Копировать: "\ea87";
$icon-Переместить4: "\ea88";
$icon-Посмотреть: "\ea89";
$icon-Сохранить2: "\ea8a";
$icon-Prostoy.Biz: "\ea8b";
$icon-Выбрать-файл3: "\ea8c";
$icon-Доступ: "\ea8d";
$icon-Закрыть7: "\ea8e";
$icon-Организация: "\ea8f";
$icon-Поиск5: "\ea90";
$icon-Почтовые-шлюзы2-path1: "\ea91";
$icon-Почтовые-шлюзы2-path2: "\ea92";
$icon-Почтовые-шлюзы2-path3: "\ea93";
$icon-Почтовые-шлюзы2-path4: "\ea94";
$icon-Почтовые-шлюзы2-path5: "\ea95";
$icon-Почтовые-шлюзы2-path6: "\ea96";
$icon-Почтовые-шлюзы2-path7: "\ea97";
$icon-Почтовый-ящик2-path1: "\ea98";
$icon-Почтовый-ящик2-path2: "\ea99";
$icon-Почтовый-ящик2-path3: "\ea9a";
$icon-Правило: "\ea9b";
$icon-Редактирование-правила: "\ea9c";
$icon-Ресурсы: "\ea9d";
$icon-Сервер2: "\ea9e";
$icon-Создание почтового шлюза Prostoy.Biz: "\ea9f";
$icon-Создать-правило2: "\eaa0";
$icon-Создать-шлюз: "\eaa1";
$icon-Сохранить: "\eaa2";
$icon-Удалить6: "\eaa3";
$icon-Открыть2: "\eaa4";
$icon-Отменить3: "\eaa5";
$icon-Переместить3: "\eaa6";
$icon-Поиск4: "\eaa7";
$icon-Пригласить-пользователя: "\eaa8";
$icon-Расположить-окна-по-умолчанию2: "\eaa9";
$icon-Закрыть6: "\eaaa";
$icon-Обновить-данные: "\eaab";
$icon-Почтовые-шлюзы: "\eaac";
$icon-Почтовый-ящик-path1: "\eaad";
$icon-Почтовый-ящик-path2: "\eaae";
$icon-Почтовый-ящик-path3: "\eaaf";
$icon-Редактирование-почтового-шлюза: "\eab0";
$icon-Сервер: "\eab1";
$icon-Создание-правила: "\eab2";
$icon-Создать-правило: "\eab3";
$icon-Удалить5: "\eab4";
$icon-Шлюз-по-умолчанию: "\eab5";
$icon-Вид: "\eab6";
$icon-Высокая-важность: "\eab7";
$icon-Добавить-в-избранное: "\eab8";
$icon-Комментировать: "\eab9";
$icon-Низкая-важность: "\eaba";
$icon-Открыть-проект: "\eabb";
$icon-Открыть: "\eabc";
$icon-Переместить2: "\eabd";
$icon-Поиск3: "\eabe";
$icon-Проект: "\eabf";
$icon-Создать: "\eac0";
$icon-Удалить4: "\eac1";
$icon-Добавить-файлы: "\eac2";
$icon-Назначить: "\eac3";
$icon-Ответить-всем: "\eac4";
$icon-Ответить: "\eac5";
$icon-Отклик: "\eac6";
$icon-Переместить: "\eac7";
$icon-Переслать: "\eac8";
$icon-Удалить3: "\eac9";
$icon-N: "\eaca";
$icon-PDF: "\eacb";
$icon-X: "\eacc";
$icon-Анкета: "\eacd";
$icon-Вступить-в-организацию: "\eace";
$icon-Дела: "\eacf";
$icon-Добавить-в-друзья: "\ead0";
$icon-Документ: "\ead1";
$icon-Задачи: "\ead2";
$icon-Звонок: "\ead3";
$icon-Найти: "\ead4";
$icon-Организации: "\ead5";
$icon-Пользователи: "\ead6";
$icon-Пригласить-в-организацию: "\ead7";
$icon-Профиль-организации: "\ead8";
$icon-Сайт: "\ead9";
$icon-Сбросить: "\eada";
$icon-Смс: "\eadb";
$icon-Файлы: "\eadc";
$icon-Часы: "\eadd";
$icon-Закрыть5: "\eade";
$icon-Обновить2: "\eadf";
$icon-Отправить: "\eae0";
$icon-Отправьте-отчеты: "\eae1";
$icon-Подать-заявку: "\eae2";
$icon-Поиск2: "\eae3";
$icon-Получение-ЭП: "\eae4";
$icon-Получите-ответ: "\eae5";
$icon-ПФР: "\eae6";
$icon-Росстат: "\eae7";
$icon-ФНС: "\eae8";
$icon-ФСС: "\eae9";
$icon-Электронная-подпись: "\eaea";
$icon-Завершить: "\eaeb";
$icon-Закрыть4: "\eaec";
$icon-Купить: "\eaed";
$icon-Маркетинг: "\eaee";
$icon-Менеджмент: "\eaef";
$icon-Найти-организацию: "\eaf0";
$icon-в-которой-я-работаю: "\eaf0";
$icon-Основные-сведенья-об-организации: "\eaf1";
$icon-Проектный-офис: "\eaf2";
$icon-Распределение-обязанностей: "\eaf3";
$icon-Создание-команды: "\eaf4";
$icon-Создание-почтового-ящика-path1: "\eaf5";
$icon-Создание-почтового-ящика-path2: "\eaf6";
$icon-Создание-почтового-ящика-path3: "\eaf7";
$icon-Создание-почтового-ящика-path4: "\eaf8";
$icon-Создание-почтового-ящика-path5: "\eaf9";
$icon-Создание-почтового-ящика-path6: "\eafa";
$icon-Создание-почтового-ящика-path7: "\eafb";
$icon-Создание-почтового-ящика-path8: "\eafc";
$icon-Создание-почтового-ящика-path9: "\eafd";
$icon-Создание-почтового-ящика-path10: "\eafe";
$icon-Создание-почтового-ящика-path11: "\eaff";
$icon-Создание-почтового-ящика-path12: "\eb00";
$icon-Создание-почтового-ящика-path13: "\eb01";
$icon-Создание-почтового-ящика-path14: "\eb02";
$icon-Создание-почтового-ящика-path15: "\eb03";
$icon-Создание-почтового-ящика-path16: "\eb04";
$icon-Создание-почтового-ящика-path17: "\eb05";
$icon-Создание-почтового-ящика-path18: "\eb06";
$icon-Создание-почтового-ящика-path19: "\eb07";
$icon-Создание-почтового-ящика-path20: "\eb08";
$icon-Создание-почтового-ящика-path21: "\eb09";
$icon-Создать-новую-организацию: "\eb0a";
$icon-Сфера-деятельности-организации: "\eb0b";
$icon-Счета-path1: "\eb0c";
$icon-Счета-path2: "\eb0d";
$icon-Счета-path3: "\eb0e";
$icon-Счета-path4: "\eb0f";
$icon-Счета-path5: "\eb10";
$icon-Счета-path6: "\eb11";
$icon-Счета-path7: "\eb12";
$icon-Закрыть3: "\eb13";
$icon-Новости: "\eb14";
$icon-Оповещения: "\eb15";
$icon-Приглашение: "\eb16";
$icon-Проекты-и-задачи: "\eb17";
$icon-Создание-организации: "\eb18";
$icon-Чат2: "\eb19";
$icon-Аудиоконференция: "\eb1a";
$icon-Ведущий-path1: "\eb1b";
$icon-Ведущий-path2: "\eb1c";
$icon-Ведущий-path3: "\eb1d";
$icon-Ведущий-path4: "\eb1e";
$icon-Видео-трансляция: "\eb1f";
$icon-Включить-камеру: "\eb20";
$icon-Выбрать-толщину-линий: "\eb21";
$icon-Выбрать-цвет: "\eb22";
$icon-Выключить-камеру: "\eb23";
$icon-Закрузить-документ: "\eb24";
$icon-Маркер: "\eb25";
$icon-Написать-сообщение: "\eb26";
$icon-Окружность: "\eb27";
$icon-Отменить-фигуру: "\eb28";
$icon-Очистить-страницу: "\eb29";
$icon-Подогнать-под-размер-окна: "\eb2a";
$icon-Подогнать-под-ширину-окна: "\eb2b";
$icon-Предыдущий-слайд: "\eb2c";
$icon-Прямоугольник: "\eb2d";
$icon-Расположить-окна-по-умолчанию: "\eb2e";
$icon-Следующий-слайд: "\eb2f";
$icon-Транслировать-рабочий-стол: "\eb30";
$icon-Участники: "\eb31";
$icon-Чат: "\eb32";
$icon-SMS: "\e900";
$icon-Администраторская-настройка: "\e901";
$icon-Выбрать-файл2: "\eb33";
$icon-Добавить: "\eb34";
$icon-Загрузить-файл: "\eb35";
$icon-Закрыть2: "\eb36";
$icon-Интеграция-с-сайтом: "\eb37";
$icon-Интеграция: "\eb38";
$icon-Настройки: "\e902";
$icon-Обновить: "\e903";
$icon-Очистить-поиск: "\e904";
$icon-Подробнее-path1: "\e905";
$icon-Подробнее-path2: "\e906";
$icon-Подробнее-path3: "\e907";
$icon-Подробнее-path4: "\e908";
$icon-Поиск: "\e909";
$icon-Пользовательская-настройка: "\e90a";
$icon-Редактировать: "\e90b";
$icon-Удалить2: "\e90c";
$icon-ок: "\e90d";
$icon-Отменить2: "\e90e";
$icon-Удалить: "\e90f";
$icon-В-избранное: "\e910";
$icon-Закрыть: "\e911";
$icon-Копировать-ссылку: "\e912";
$icon-Копировать-ссылку_2: "\e913";
$icon-Открыть-файл: "\e914";
$icon-Отменить: "\e915";
$icon-Свойства-файла: "\e916";
$icon-Удалить-файлы: "\e917";
$icon-Выбрать-файл: "\e918";
$icon-Готово: "\e919";
$icon-Закрыть-диалог: "\e91a";
$icon-Найти-собеседника: "\e91b";
$icon-Показать-за: "\e91c";
$icon-Свернуть-диалог: "\e91d";
$icon-Смайлы: "\e91e";
$icon-Увеличить-размер-окна: "\e91f";
$icon-Уменьшить-размер-окна: "\e920";

