<div class="select-block --comment"></div>
<div class="email-block --email"></div>
<div class="buttons-block">
    <div class="button active --switch --comment" id="assign" title="{{text.forms.comment.assign}}"><span
            class="icon-Назначить2"></span></div>
    <div class="button --switch --comment" id="response" title="{{text.forms.comment.response}}"><span
            class="icon-Отклик2"></span></div>
    <div class="button --email" id="mail_param" title="{{text.forms.comment.mail_param}}"><span
            class="icon-Редактирование-почтового-шлюза"></span></div>
    <div class="button" id="notification_users" title="{{text.forms.comment.targets}}"><span
            class="icon-Пригласить-пользователя"></span></div>
</div>