<div class="windows-overlay full-wh" id="{{data.id}}">
    <div class="windows-window">
        <div class="windows-loading full-wh">
            <div class="windows-cube-grid">
                <div class="windows-cube windows-cube1"></div>
                <div class="windows-cube windows-cube2"></div>
                <div class="windows-cube windows-cube3"></div>
                <div class="windows-cube windows-cube4"></div>
                <div class="windows-cube windows-cube5"></div>
                <div class="windows-cube windows-cube6"></div>
                <div class="windows-cube windows-cube7"></div>
                <div class="windows-cube windows-cube8"></div>
                <div class="windows-cube windows-cube9"></div>
            </div>
        </div>
        <div class="windows-header">
            <div class="windows-header-text">{{data.title}}</div>
            <div class="windows-header-hide"></div>
            <div class="windows-header-show"></div>
            <div class="windows-header-close">&times;</div>
        </div>
        <div class="windows-wrap">
            <div class="windows-content"></div>
            <div class="windows-buttons"></div>
        </div>
    </div>
</div>