<div class="user-block full-wh" id="{{data.id}}">
    <div class="user-avatar {{data.avatar}}"></div>
    <div class="user-name ellipsis">{{data.name}}</div>
</div>
<div class="user-params">
    <div class="params-item --profile">
        <div class="icon-Анкета"></div>
        <div class="params-text">{{text.user_block.menu.profile}}</div>
    </div>
    <div class="params-item --billing">
        <div class="icon-Личный-счет"></div>
        <div class="params-text">{{text.user_block.menu.personal_billing}}</div>
    </div>
    <div class="params-item --billing">
        <div class="icon-Счет-организации"></div>
        <div class="params-text">{{text.user_block.menu.organization_billing}}</div>
    </div>
    <div class="params-item --params">
        <div class="icon-Настройки"></div>
        <div class="params-text">{{text.user_block.menu.properties}}</div>
    </div>
    <div class="params-item --storage">
        <div class="icon-Очистить-хранилище"></div>
        <div class="params-text">{{text.user_block.menu.clear_storage}}</div>
    </div>
    <div class="params-item --exit">
        <div class="icon-Закрыть8"></div>
        <div class="params-text">{{text.user_block.menu.exit}}</div>
    </div>
</div>