$main-bg-text-color: #3399cc;
$text-for-main-bg-text-color: #ffffff;
$border-and-add-text-bg-color: #c2c2c2;
$add-text-bg-color: #f2f2f2;
$main-bg-text-color-hover: #5cadd6;
$main-bg-text-color-active: #297aa3;
$border-radius: 3px;