<div id="viewer" class="viewer-overlay full-wh">
    <div class="viewer-window">
        <div class="viewer-loading full-wh">
            <div class="viewer-cube-grid">
                <div class="viewer-cube viewer-cube1"></div>
                <div class="viewer-cube viewer-cube2"></div>
                <div class="viewer-cube viewer-cube3"></div>
                <div class="viewer-cube viewer-cube4"></div>
                <div class="viewer-cube viewer-cube5"></div>
                <div class="viewer-cube viewer-cube6"></div>
                <div class="viewer-cube viewer-cube7"></div>
                <div class="viewer-cube viewer-cube8"></div>
                <div class="viewer-cube viewer-cube9"></div>
            </div>
        </div>
        <div class="viewer-header">
            <div class="viewer-header-text"></div>
            <div class="viewer-header-close">&times;</div>
        </div>
        <div class="viewer-wrap">
            <div class="viewer-content"></div>
            <div class="viewer-buttons">
                <div class="viewer-button left --gallery" id="previous">
                    <span class="icon-Предыдущий-слайд"></span>
                </div>
                <span class="viewer-gallery-count left --gallery"></span>
                <div class="viewer-button left --gallery" id="next">
                    <span class="icon-Следующий-слайд"></span>
                </div>
                <div class="viewer-button right" id="copy_link">
                    <span class="icon-Скопировать-ссылку"></span>
                </div>
                <a href="#" target="_blank" id="download_link">
                    <div class="viewer-button right" id="download">
                        <span class="icon-Скачать"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>